@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-primary-100: #afcedd;

  --color-primary: #234894;
  --color-gray: #696969;
  --color-secondary: #219f95;
  --color-white: #fff;

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}

body {
  font-family: sans-serif;
  background-color: var(--color-secondary-100);
}

body,
* {
  font-family: Vazirmatn;
}

html {
  font-size: 62.5%;
}

.container {
  /* background-color: gold; */
  width: 70vw;
  margin: 0 auto;
}

.cards {
  /* background-color: magenta; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  /* background-color: aquamarine; */
  /* width: 400px;
  height: 200px; */
  padding: 20px;
}

.card__header {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__register .information {
  /* background-color: ; */
}

button {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  /* text-align: center; */
  margin: 40px 20px;
}
/* header */

.btn--primary {
  background-color: var(--color-primary-100);
  width: 40px;
  height: 40px;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--color-primary);
}

.upload--text {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600px;
  margin-right: 1rem;
}

.card__header .date {
  font-size: 1.2rem;
  color: var(--color-gray);
}

/*CARD REGISTER */
.card__register {
  align-items: flex-end;
}

.card__register .apply {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}

.card__register .register-number {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-gray);
}

.card__register .name {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
}

.person {
  display: flex;
  align-items: center;
}

img {
  margin-top: 20px;
  width: 40px;
  border-radius: 10px;
  margin-left: 1rem;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 2.2rem 1rem;

  /* width: 160px; */
  text-align: center;
  border-radius: 8px;
  font-size: 1.6rem;
}

@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  /* .card__register .name {
    font-size: 1.2rem;
  }

  .btn--secondary {
    font-size: 1.2rem;
    padding: 3rem 1rem;
  } */
}

@media screen and (min-width: 1140px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
